---
layout: default
---




<!-- JOURNEY -->


<div class=" vpad--xxl bg--c-grey " id="top" >
  <div class="container">
    <div class="width width--xl text--justify condor-text text--white " >
       <div class="condor-text condor-text--xxl">{{page.intro}}</div>
       <div class="space--md"></div>
        <a href="{{site.client.link2}}" target="_blank" class="btn btn--condor condor-text condor-text--bold" >Flüge nach Barbados</a>
    </div>
  </div>
</div>


{% for section in site.data[page.id] %}

    <div id="{{section.id}}" class="harvey{% cycle '', ' harvey--swap' %}  {% cycle 'bg--white', 'bg--c-grey' %}">
      <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/{{section.img}}.jpg');"> </div>
      <div class="harvey__text boxpad--xl condor-text condor-text--xxl  {% cycle 'text--grey', 'text--white' %}">
        <div class="space--lg"></div>
        <h2 class="condor-title condor-title--lg text--bold ">{{section.title}}</h2>
        <p>{{section.description}}</p>
        <div class="space--lg"></div>
      <!--   <a href="javascript:void(0);" class="btn btn--condor condor-text condor-text--bold js-open-modal journey__video"  data-modal-item="{{page.id}}-{{section.id}}-video">Video ansehen</a> -->
      </div>
    </div>
 {% endfor %}
